body {
    margin: 0%;
    overflow-x: hidden;
}

header {
    display: flex;
    align-items: center;
    background-color: rgb(24, 112, 29);
    margin-top: 0%;
    height: 10vh;
    width: 100%;
    gap: 0%;
}
h1 {
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 3rem;
    font-weight: bold;
    margin-right: 0%;
}
h1:hover {
    cursor: pointer;
}
@media (max-width: 768px) {
    h1 {
      font-size: 1.5em;
    }
  }
img {
    width: 3%;
    height: 60%;
    transition: transform 0.5s ease-in-out;
}
#sun {
    margin-left: auto;
}
#moon {
    margin-left: 0.5%;
}
img:hover {
    cursor: pointer;
}

.container {
    max-width: 100%;
    margin-left: 2vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.convertText {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 0%;
}

.quantitiesContainer {
    margin-top: 0%;
    margin-bottom: 0%;
    display: flex;
    gap: 1vw;
    width: fit-content;
}

.quantity {
    background-color: rgb(24, 112, 29);
    color: white;
    width: 12.8vw;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.2rem solid black;
    font-size: 90%;
    margin-bottom: 0%;
    text-align: center;
}
.quantity:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.tableContainer {
    background-color: lightgray;
    width: 94.5vw;
    height: fit-content;
    margin-top: 0%;
    padding-left: 1%;
}

.unitSelectBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 10vh;
    gap: 10%;
}

.unitText {
    font-size: 1.3rem;
    height: 50%;
}

#selectUnit {
    width: 20%;
    height: 50%;
}
#selectUnit:hover {
    cursor: pointer;
}

.inputFieldBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 10vh;
    gap: 10%;
}

input {
    width: 40%;
    height: 60%;
    font-size: 1.3rem;
}

.convertButtonBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 10vh;
}

#convertButton {
    width: 50%;
    height: 70%;
    background-color: rgb(24, 112, 29);
    color: white;
    font-size: 1.7rem;
    font-weight: bold;
}
#convertButton:hover {
    transform: scale(1.2);
    background-color: white;
    color: rgb(24, 112, 29);
    cursor: pointer;
}

.checkBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 5vh;
    margin-bottom: 2vh;
    gap: 1%;
}

#checkbox {
    height: fit-content;
    width: fit-content;
    transform: scale(1.5);
}
#checkbox:hover {
    cursor: pointer;
}

label {
    font-size: 1rem;
}